<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
   <link rel="stylesheet" href="~/css/style.css"/>    
     
    <title>DOCUMENT</title>
</head>

<body>
<main role="main">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>    
    <div class="container">
    <h1>Here are some projects of mine!</h1>
      <table class="table table-bordered">
    <tbody>
      <tr>
        <td><img class="screenshot" src="~/img/graphics-network.png"></td>
        <td><a href="http://graphics-network.com" target="new">Graphics Network</a></td>
        <td>Website for a local printing company.</td>
      </tr>
      <tr>
        <td><img class="screenshot" src="~/img/thgm.png"></td>
        <td><a href="http://tulsahomeandgardenmagazine.com" target="new">Tulsa Home and Garden Magazine</a></td>
        <td>Lifestyle blog covering local design and events.</td>
      </tr>
      <tr>
        <td><img class="screenshot" src="~/img/in2vate.png"></td>
        <td><a href="http://in2vate.com" target="new">in2vate</a></td>
        <td>Online learning platform for a company in the risk management arena.</td>
      </tr>
    </tbody>
  </table>

    </div>
</main>
</body>
</html>
